#task-list {
  list-style-type: none;
  padding: 0;
  width: 20.6em;
}
#task-list li {
  border: 1px solid var(--color-border);
  border-bottom: none;
  padding: 4px;
  box-shadow: 0 0 20px 0px var(--color-border);
}

#task-list li:first-child {
  border-radius: 0.3rem 0.3rem 0 0;
}

#task-list li:last-child {
  border-radius: 0 0 0.3rem 0.3rem;
  border-bottom: 1px solid var(--color-border);
}

#task-list li:hover {
  background-color: var(--color-light);
  cursor: pointer;
}

li{
  -webkit-animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}
@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}
@keyframes li {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}

