.container-aside {
  background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fpng.pngtree.com%2Fthumb_back%2Ffw800%2Fbackground%2F20190223%2Fourmid%2Fpngtree-watercolor-blue-background-paintedpastel-bluemint-greenthrough-image_69667.jpg&f=1&nofb=1);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  flex: 1;
}
.container-center {
  flex: 2;
}

.center-main {
  width: 100%;
  max-width: 30em;
  margin: auto;
  padding: 2em 2em 2em 2em;
  border-top: 2px solid;
}

button {
  box-shadow: inset 0 0 8px 0px rgba(17, 16, 16, 0.68);
  color: rgb(28, 28, 28);
  font-weight: 900;
}
