@import url(./header.css);
@import url(./newData.css);
@import url(./list.css);
@import url(./footer.css);
@import url(./main.css);


:root {
    --color-border: #e9e2e2fd;
    --color-light: #f6f4f4;
    
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  
  
  body {
    display: flex;
    height: 100vh;
    padding: 0;
    margin: 0;
    color: var(--colot-text-light);
  }